*{
	margin: 0;
	padding: 0;
}

body{

	font-family:arial;
	background-image:url(../imagenes/wavecut.jpg)

}
.contenedor{
	max-width: 1280px;
	margin: auto;
	-webkit-box-shadow: 7px 7px 5px -6px rgba(138,138,138,0.82);
	-moz-box-shadow: 7px 7px 5px -6px rgba(138,138,138,0.82);
	box-shadow: 7px 7px 5px -6px rgba(138,138,138,0.82);
}
.descripcion{
	background-color: #fff;
	margin-top: 20px;
	text-align:left;

}
p{
	color:#333333;
	padding: 1em 3em;
	font-size: 1.3em;
	line-height: 1.7em;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 2.5em;
}

header{
	max-width: 1280px;
	margin: auto;
	background-image:url(../imagenes/header.jpg);
	display:flex;
	justify-content: space-around;
	align-items:  center;
}
header img{
	display: none;
}
.contenido-header{
	padding: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

main{
	padding: 30px 0 0 0;
	text-align:center;
	margin: 0 auto;
	max-width:1280px;
	background-color: #fff;
}
ul{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li{
	background-color: #FADC96;
	font-size:30px;
	padding:0;
    margin: 20px;
	border-radius:10px;
	list-style: none;
	-webkit-box-shadow: 7px 7px 5px -6px rgba(138,138,138,0.82);
	-moz-box-shadow: 7px 7px 5px -6px rgba(138,138,138,0.82);
	box-shadow: 7px 7px 5px -6px rgba(138,138,138,0.82);

}

li:hover{
	background-color: #f0be57;
	filter: brightness(1.2);
}

h2{
	font-size: 1.2em;
	color: #333333;
	font-family: 'Original Surfer', sans-serif;
	margin-bottom: 20px;
}

h3{
		color: #333333;
		font-size:40px;
		font-family: 'Permanent Marker', sans-serif;
		text-align: center;
}

a {
	text-decoration:none;
}
li a{
	padding: 20px;
	display: block;
}
footer{
	max-width: 1280px;
	margin: auto;
	background-color:#50c2f6;
}
.contenido-footer{
	color: #fff;
	font-family: 'Original Surfer', sans-serif;
	padding:2em;
	text-align:center;
	background-color: #50c2f6;

}
.antespie img{
	width:100%;
}
@media (min-width: 480px){
header img{
	display: block;
	margin-right: 2em;

}
